
@import url("https://api.fonts.coollabs.io/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");
:root{
  --blue-color:#13183F;
  --pink-color:#F74780; 
  --blue-light:#666CA3;
  --pink-light:#FFA7C3;
  --gray-color:#83869A;
  --wwhite-color:#FFFFFF;
  --gradient-pink: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  --gradient-purple:linear-gradient(180deg, #4851FF 0%, #F02AA6 100%); 
}

body{
  margin: 0;
  background: #FFFFFF;
  font-family: "Plus Jakarta Sans", sans-serif;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflow-wrapper{
  overflow-x: hidden;
  position: relative;
}

.container{
  width: 90%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration: none;
  color: black;
}

ul li{
  list-style-type: none;
}

/* navigation */
.top-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 24px;
}

.dark-btn{
  background: var(--blue-color);
  color: var(--wwhite-color);
  padding: 16px 32px ;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700px;
  cursor: pointer;
  transition: .2s ease-in;
}

.dark-btn:hover{
  opacity: .8;
}

/* Hero */
.hero-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  
}

h1{
  color: var(--blue-color);
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 120%;
}


.hero-text p{
color: var(--gray-color);
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
margin: 24px 0 40px 0;
}

.hero-btn{
background:var(--gradient-pink);
border: none;
cursor: pointer;
padding: 16px 32px;
border-radius: 30px;
color: var(--wwhite-color);
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
transition: .2s ease-in;
}

.hero-btn:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);

}

.hero-desktop-img{
  margin-right: -521px;
  margin-top: -280px;
}

.hero-tablet-img{
  display: none;
}

.hero-mobile-img{
  display: none;
}


/* 

POPULAR COURSES 


*/
#popular-courses{
  margin-bottom: 144px;
}

/* media queries */

@media screen and (max-width:1100px){
  .hero-tablet-img{
    display: block;
    margin-right: -319px;
    margin-top: -169px;
  }
  
  .hero-desktop-img{
    display: none;
  }

  h1{
    font-weight: 800;
    font-size: 40px;
  }
  
}

@media screen and (max-width:820px){
  h1{
    font-weight: 800;
    font-size: 35px;
  }
}

@media screen and (max-width:740px){
  .hero-content{
    display: flex;
    flex-direction: column;
  }
 
  .hero-mobile-img{
    display: block;
  }
  .hero-tablet-img{
    display: none;
  }

  .hero-content{
    margin-top: 64px;
  }
}


@media screen and (max-width:376px){
  .dark-btn{
    background: var(--blue-color);
    color: var(--wwhite-color);
    padding: 14px 30px ;
    border-radius: 30px;
    font-size: 15px;
  }

  .top-nav{
    margin-block: 16px;
  }

  .container{
    width: 95%;
  }
}

/* nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 24px;
}

a{
  text-decoration: none;
  background: var(--blue-color);
  color: var(--wwhite-color);
  padding: 16px 32px ;
  border-radius: 30px;
}


.hero-tittle{
color: var(--blue-color);
font-style: normal;
font-weight: 800;
font-size: 56px;
line-height: 120%;
}

.hero-description{
color: var(--gray-color);
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
margin: 24px 0 40px 0;
}

button{
background:var(--gradient-pink);
border: none;
cursor: pointer;
padding: 16px 32px;
border-radius: 30px;
color: var(--wwhite-color);
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
} */